.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url('/public/assets/defaultBg.avif');
    background-size: 100vw 120vh;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    padding: 2.5rem;
}

.search-bar {
    display: flex;
    gap: 1.2rem;
    padding: 1.2rem;
}

.search-input {
    padding: 1rem;
    font-size: 2rem;
    border-radius: 0.8rem;
    border: 1px solid #ccc;
    outline: none;
}

.search-button {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    background: #0077ff;
    color: white;
    border-radius: 0.8rem;
    cursor: pointer;;
    border: none;
}

.search-button:hover {
    background: #005fcc;
}

.weather-card {
    width: 350px;
    margin: auto;
    padding: 2.5rem;
    border-radius: 1.5rem;
    box-shadow: 0px 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
    text-align: center;
}

.weather-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}

.weather-info img {
    display: block;
    width: 80px;
}

.temp-toggle {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.temp-toggle button {
    border: none;
    padding: 5px 10px;;
    cursor: pointer;
    border-radius: 6px;
}

.temp-toggle .active {
    background: #0077ff;
    color: white;
    
}

.temp-toggle .not-active:hover {
    background: #0077ff;
    color: white;
}

.morning-bg {
    background: url('/public/assets/morningBg.jpg');
    background-size: cover;
    background-position: center;
}

.afternoon-bg {
    background: #7EC8E3;
}

.evening-bg {
    background: #deb135;
}

.night-bg { 
    background: url('/public/assets/nightBg.avif');
    background-size: cover;
    background-position: center;
    color: white;
}

@media (max-width: 768px) {
    .weather-card {
        width: 200px;
    }

    .search-bar {
        flex-direction: column;
        align-items: center;
    }

    .search-input {
        font-size: 1.2rem;
    }

    .search-button {
        width: 100%;
        font-size: 1rem;
    }
}